<div class="container p-4">
    <form action="/main/reload" method="POST">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputNumberAccount">Ingrese número de cuenta</label>
                <input type="text" id="inputNumberAccount" name="account_number" class="form-control">
            </div>
            <div class="form-group col-md-5">
                <label for="inputNumberAccount">Código de la recarga</label>
                <input type="text" name="codigo_recarga" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Recargar</button>
    </form>
</div>

<div class="container p-4">
    <div class="card">
        <div class="card-header">
            Método de recarga
        </div>
        <div class="card-body">
            <h5 class="card-title">Primero debes tener un código de recarga que te permitirá realizar la recarga</h5>
        </div>
    </div>
</div>