<div id="sidebar" >
    <ul>
        <li><a href="/main/index"><img width="50%" class ="logo" src="../../public/img_users/user/{{user.foto}}" alt="image"> </a></li>
        <li><a href="/main/accounts">Estado de cuenta</a></li>
        <li><a href="/main/movements">Movimientos</a></li>
        <li><a href="#">Corte de estado de cuenta</a></li>
        <li><a href="/main/filtro">Record de cuenta</a></li>
        <li><a href="/main/edit/{{user.cedula}}">Editar perfil</a></li>
        <li><a href="/main/reload">Recargas</a></li>
        <li><a href="/auth/logout">Salir</a></li>
    </ul>
</div>