<!--<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <form action="/auth/signin" method="POST">
                    <div class="form-group col-md-6">
                        <label for="inputUsuario">Usuario</label>
                        <input required type="text" class="form-control" id="inputUsuario" name="usuario">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputClave">Clave</label>
                        <input required type="password" class="form-control" id="inputClave" name="clave">
                    </div>
                    <button type="submit" class="btn btn-success"> Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>-->



<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Banca virtual</h3>
                </div>
                <div class="card-body">
                    <img src="../../public/img/icon/penguin.png" alt="Penguin shop"
                        class="card-img-top mx-auto rounded-circle w-50">
                    <form action="/auth/signin" method="POST">
                        <div class="form-group">
                            <label for="inputUsuario">Usuario</label>
                            <input required type="text" class="form-control" id="inputUsuario" name="usuario">
                        </div>
                        <div class="form-group">
                            <label for="inputClave">Clave</label>
                            <input required type="password" class="form-control" id="inputClave" name="clave">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-block">
                                Ingresa
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>